<div class="edit-container">
  <h2>Thêm Phương tiện</h2>

  <form (ngSubmit)="createVehicle()" *ngIf="vehicle">

    <div class="form-group">
      <label>Tên phương tiện</label>
      <input type="text"
             [(ngModel)]="vehicle.vehicleName"
             name="vehicleName"
             required>
    </div>

    <div class="form-group">
      <label>Mô tả</label>
      <textarea [(ngModel)]="vehicle.description"
                name="description"
                required></textarea>
    </div>

    <div class="btn-group">
      <button type="button"
              class="btn-secondary"
              (click)="cancel()">
        Hủy
      </button>

      <button type="submit"
              class="btn-primary">
        Lưu
      </button>
    </div>

  </form>
</div>
