<header class="header">
    <div class="container">
        <div class="logo" routerLink="/admin">
            Travel<span>Go</span>
        </div>

      <div class="actions">

        <div class="user-box"
             #dropdownRef
             (click)="toggleDropdown(); $event.stopPropagation()">

          <img [src]="getAvatar()" class="avatar">

          <span class="username"> {{ getUsername() }} </span>

          <i class="bi bi-chevron-down arrow"></i>

          <div class="dropdown" *ngIf="showDropdown">

            <p routerLink="/users/me">Hồ sơ của tôi</p>

            <p (click)="logout()">Đăng xuất</p>

          </div>

        </div>

      </div>
    </div>
</header>


<div class="admin-container">

    <aside class="sidebar">
        <nav>

            <a routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i class="bi bi-speedometer2 icon"></i>
                Dashboard
            </a>

            <div class="menu-group">

                <div class="menu-title" (click)="toggleMenu()" [class.active]="isMenuOpen">

                    <div>
                        <i class="bi bi-folder2-open icon"></i>
                        Danh mục quản lý
                    </div>

                    <i class="bi" [ngClass]="isMenuOpen ? 'bi-chevron-down' : 'bi-chevron-right'">
                    </i>
                </div>

                <div class="submenu" [class.open]="isMenuOpen">
                    <a routerLink="/admin/users" routerLinkActive="active">
                        <i class="bi bi-person icon"></i>
                        Quản lý người dùng
                    </a>

                    <a routerLink="/admin/tours" routerLinkActive="active">
                        <i class="bi bi-map icon"></i>
                        Quản lý tour
                    </a>

                    <a routerLink="/admin/bookings" routerLinkActive="active">
                        <i class="bi bi-ticket-perforated icon"></i>
                        Quản lý booking
                    </a>
                </div>

            </div>

        </nav>
    </aside>


    <div class="main-content">
        <section class="page-content">
            <router-outlet></router-outlet>
        </section>
    </div>

</div>
