.forbidden-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forbidden-container h1 {
    font-size: 48px;
    color: #d32f2f;
    margin-bottom: 10px;
}

.forbidden-container p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

.come-back {
    padding: 12px 22px;
    background-color: #1976d2;
    color: #fff;

    border: none;
    outline: none;
    border-radius: 8px;

    cursor: pointer;
    font-size: 16px;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 6px;

    transition: background-color 0.2s ease,
        transform 0.1s ease;
}

.come-back:hover {
    background-color: #125aa0;
}

.come-back:active {
    transform: scale(0.97);
}

.come-back:focus,
.come-back:focus-visible {
    outline: none;
    box-shadow: none;
}