<div class="edit-container">
    <h2>Chỉnh sửa danh mục</h2>

    <form (ngSubmit)="updateCategory()" *ngIf="category">

        <div class="form-group">
            <label>Tên danh mục</label>
            <input type="text" [(ngModel)]="category.categoryName" name="categoryName" required>
        </div>

        <div class="form-group">
            <label>Mô tả</label>
            <textarea [(ngModel)]="category.description" name="description"></textarea>
        </div>

        <div class="btn-group">
            <button type="button" class="btn-secondary" routerLink="/manager/categories">
                Hủy
            </button>

            <button type="submit" class="btn-primary">
                Cập nhật
            </button>
        </div>

    </form>
</div>