<body>
    <section class="hero">
        <div class="hero-content">
            <p class="hero-sub">Những điểm đến đáng nhớ</p>
            <h1>Du lịch tận hưởng<br>và sống trọn từng giây phút</h1>
            <p class="hero-desc">
                Trải nghiệm những chuyến đi tuyệt vời cùng chúng tôi.
                Khám phá những hành trình không thể bỏ lỡ.
            </p>

            <div class="hero-actions">
                <button routerLink="/" class="btn-primary">Tìm hiểu thêm</button>
                <button class="btn-outline">Giới thiệu</button>
            </div>
        </div>

        <div class="hero-image">
            <img src="http://localhost:8080/tours/home.png" alt="Travel">
        </div>
    </section>

    <section class="services">
        <h3 class="section-sub">Danh mục</h3>
        <h2 class="section-title">Dịch vụ chất lượng</h2>

        <div class="service-list">
            <div class="service-card">
                <i class="bi bi-cloud-sun icon"></i>
                <h4>Dự báo thời tiết</h4>
                <p>Xây dựng kế hoạch dự báo thời tiết chính xác</p>
            </div>

            <div class="service-card">
                <i class="bi bi-airplane icon"></i>
                <h4>Chuyến bay tốt</h4>
                <p>Cung cấp dịch vụ tốt nhất cho hành khách</p>
            </div>

            <div class="service-card">
                <i class="bi bi-calendar-check icon"></i>
                <h4>Sự kiện đa dạng</h4>
                <p>Cung cấp đa dạng các dịch vụ và trải nghiệm</p>
            </div>

            <div class="service-card">
                <i class="bi bi-sliders icon"></i>
                <h4>Cá nhân hóa</h4>
                <p>Thiết kế tour theo cá nhân, sở thích</p>
            </div>
        </div>
    </section>

    <section class="destinations">
        <h2 class="section-title">Điểm đến lý tưởng</h2>

        <div class="destination-list">
            <div class="destination-card">
                <img src="http://localhost:8080/tours/vn1.jpg">
            </div>

            <div class="destination-card">
                <img src="http://localhost:8080/tours/vn2.jpg">
            </div>

            <div class="destination-card">
                <img src="http://localhost:8080/tours/vn3.jpg">
            </div>
        </div>
    </section>
</body>