<header class="header">
    <div class="container">
        <div class="logo" routerLink="/manager">
            Travel<span>Go</span>
        </div>

      <div class="actions">

        <div class="user-box"
             #dropdownRef
             (click)="toggleDropdown(); $event.stopPropagation()">

          <img [src]="getAvatar()" class="avatar">

          <span class="username"> {{ getUsername() }} </span>

          <i class="bi bi-chevron-down arrow"></i>

          <div class="dropdown" *ngIf="showDropdown">

            <p routerLink="/users/me">Hồ sơ của tôi</p>

            <p (click)="logout()">Đăng xuất</p>

          </div>

        </div>

      </div>
    </div>
</header>


<div class="manager-container">

    <aside class="sidebar">
        <nav>

            <a routerLink="/manager/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i class="bi bi-speedometer2 icon"></i>
                Dashboard
            </a>

            <div class="menu-group">

                <div class="menu-title" (click)="toggleMenu()" [class.active]="isMenuOpen">

                    <div>
                        <i class="bi bi-folder2-open icon"></i>
                        Danh mục quản lý
                    </div>

                    <i class="bi" [ngClass]="isMenuOpen ? 'bi-chevron-down' : 'bi-chevron-right'">
                    </i>
                </div>

                <div class="submenu" [class.open]="isMenuOpen">

                    <a routerLink="/manager/tours" routerLinkActive="active">
                        <i class="bi bi-map icon"></i>
                        Quản lý tour
                    </a>

                    <a routerLink="/manager/bookings" routerLinkActive="active">
                        <i class="bi bi-ticket-perforated icon"></i>
                        Quản lý booking
                    </a>

                    <a routerLink="/manager/categories" routerLinkActive="active">
                        <i class="bi bi-tags icon"></i>
                        Quản lý danh mục
                    </a>

                    <a routerLink="/manager/hotels" routerLinkActive="active">
                      <i class="bi bi-building icon"></i>
                      Quản lý khách sạn
                    </a>

                    <a routerLink="/manager/vehicles" routerLinkActive="active">
                      <i class="bi bi-car-front icon"></i>
                      Quản lý phương tiện
                    </a>

                    <a routerLink="/manager/tour-details" routerLinkActive="active">
                      <i class="bi bi-map icon"></i>
                      Quản lý chi tiết tour
                    </a>

                    <a routerLink="/manager/itineraries" routerLinkActive="active">
                      <i class="bi bi-calendar icon"></i>
                      Quản lý lịch trình
                    </a>

                </div>

            </div>

        </nav>
    </aside>


    <div class="main-content">
        <section class="page-content">
            <router-outlet></router-outlet>
        </section>
    </div>

</div>
